<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <img src="<%= image_url("pokeball.svg") %>" alt="pokedex">
      <div class="header buttons-container">
        <span class="red button-wrapper"><span class="button-inner"></span></span>
        <span class="yellow button-wrapper"><span class="button-inner"></span></span>
        <span class="green button-wrapper"><span class="button-inner"></span></span>
      </div>
    </header>

    <%= yield %>
  </body>
</html>